NODE_ENV=development

# Database configuration
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="postgres"
DB_SCHEMA="mixmart"

# Test database configuration
TEST_DB_USER="myuser"
TEST_DB_PASSWORD="mypassword"
TEST_DB_HOST="localhost"
TEST_DB_PORT=5420
TEST_DB_NAME="mydb"
TEST_DB_SCHEMA="public"
